<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>商品レビューページ</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <table id="table">
            <h1>商品レビュー</h1>
            <tr class="trClass">
                <th>id</th>
                <th>名前</th>
                <th>年齢</th>
                <th>評価</th>
                <th>コメント</th>
            </tr>
<!--課題02-->
<select name="select">
    <option value="high">評価が高い順</option>
    <option value="low">評価が低い順</option>
</select>
<p><input type="button" onclick="btnClick()" value="ソート"></p>
<!--課題03-->
<select name="select">
    <option value="opt5">評価5</option>
    <option value="opt4">評価4</option>
    <option value="opt3">評価3</option>
    <option value="opt2">評価2</option>
    <option value="opt1">評価1</option>
</select>
<p><input type="button" onclick="btnClick02()" value="ソート"></p>
            <!--課題01  ブラウザに出力-->
            <% for (let i=0; i <users.length; i++) { %>
                <tr class="trclass">
                    <td class="id"><%- users[i].id %></td>
                    <td class="username"><%- users[i].username %></td>
                    <td class="age"><%- users[i].age %></td>
                    <td class="rating"><%- users[i].rating %></td>
                    <td class="reason"><%- users[i].reason %></td>
                </tr>
                <% } %>
        </table>
    </body>
</html>

<script type="text/javascript">
//課題02 評価値のソート機能
    let userList = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
    console.log(userList[0].rating)
    function btnClick() {
        let select = document.querySelector('[name="select"]');
        select.onchange
        if (select.selectedIndex == 0) {
            userList.sort(function (a, b) {
                if (a.rating < b.rating) {
                    return 1;
                } else {
                    return -1;
                }

            })
            console.log(userList);
        } else if (select.selectedIndex == 1) {
            userList.sort(function (a, b) {
                if (a.rating > b.rating) {
                    return 1;
                } else {
                    return -1;
                }
            })
            console.log(userList);
        }
        let getTR = document.getElementsByClassName("trclass")
        let getTable = document.getElementById("table");
        let tableRows = getTable.rows.length;
        for (let i = 0; i < userList.length; i++) {
            let id = userList[i].id;
            let username = userList[i].username
            let age = userList[i].age
            let rating = userList[i].rating
            let reason = userList[i].reason
            getTR[i].innerHTML =
                "<tr>" +
                "<td class='id'>" +
                id +
                "</td>" +
                "<td class='username'>" +
                username +
                "</td>" +
                "<td class='age'>" +
                age +
                "</td>" +
                "<td class='rating'>" +
                rating +
                "</td>" +
                "<td class='reason'>" +
                reason +
                "</td>" +
                "</tr>";
        }
    };

//課題03 評価値の絞り込み機能




</script>
